# BDAT 1004 ‚Äì Data Programming
# Problem Set 2 

## Author - Trupal Vijaykumar Chaudhary
## ID - 200557631

# -----------------------------------------------------------------------------------------

## Question 1 

### Consider the following Python module:


### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [19]:
# Initialize variable 'a' to 0.
a = 0

# Define a function b
def b():    
    # Accessing the variable 'a' declared outside the function by using the global keyword.
    global a    
    # Call function c with 'a' as an argument and assign the returned value to the variable a.
    a = c(a)

# Defining a function c that takes a parameter 'a'.
def c(a):
    # Adding 2 to 'a' and returning the result.
    return a + 2

In [22]:
b()  
#When executed,this will update the value of the global variable 'a' to 2 (since the initial value of a was 0).

In [14]:
b()
#Executing b() again, it will update the value of the global variable a to 4.

In [17]:
b()
#Executing b() again, it will update the value of the global variable a to 6.

In [24]:
a
#This will print the value of variable a which is 6

6

# -----------------------------------------------------------------------------------------

## Question 2

### If the file cannot be found by the interpreter or if it cannot be read
### as a text file, an exception will be raised. Modify function
### fileLength() so that a friendly message is printed instead.

In [26]:
def fileLength(file_name):
    try:
        file = open(file_name)   # Open the file 
        contents = file.read()   # Read the contents of the file into a string
        file.close()        # Close the file
        print(len(contents))        # Print the length of the content
        
    except FileNotFoundError:
        print(f"File '{file_name}' not found.")        # If the file is not found, print a friendly error message

In [27]:
fileLength('trupal.txt')

File 'trupal.txt' not found.

# -----------------------------------------------------------------------------------------

## Question 3

### Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the __str__ operator so it behaves as shown below.

k = Kangaroo(0,0) print(k)

I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

k.pouch_contents()

['doll', 'firetruck', 'kitten']

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kangaroo located at coordinates (3,0)

In [28]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch[:]

In [30]:
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [31]:
k = Kangaroo(0, 0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

['doll', 'firetruck', 'kitten']

In [32]:
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

I am a Kangaroo located at coordinates (3,0)

# -----------------------------------------------------------------------------------------

## Question 4

### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x=
ùë•/2 ùëñùëìùë• ùëñùë† ùëíùë£ùëíùëõ 

3ùë• + 1 ùëñùëì ùë• ùëñùë† ùëúùëëùëë

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [51]:
def collatz(x):
    if x == 1:          
        print(x)
    else:
        print(x)
        if x % 2 == 0:
            collatz(x // 2)
        else:
            collatz(3 * x + 1)

In [50]:
collatz(10)

10
5
16
8
4
2
1

# -----------------------------------------------------------------------------------------

## Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0) = 0

binary(1) = 1

binary(3) = 11

binary(9) = 1001

In [47]:
def binary(n):
    # If n is 0 or 1
    if n < 2:
        return str(n)
    
    # Else n is greater than 1
    else:
        return binary(n // 2) + str(n % 2)

In [48]:
binary(9)

'1001'

# -----------------------------------------------------------------------------------------

## Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

infile = open('w3c.html')

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

W3C Mission

Principles

In [63]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.current_header_level = 0
        
    def handle_starttag(self, tag, attrs):
        if tag.startswith("h"):
            try:
                self.current_header_level = int(tag[1:])
            except ValueError:
                pass
    
    def handle_endtag(self, tag):
        if tag.startswith("h"):
            self.current_header_level = 0
    
    def handle_data(self, data):
        if self.current_header_level:
            print(" " * (self.current_header_level-1) + data)

In [64]:
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# -----------------------------------------------------------------------------------------

## Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [82]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser


class Question7(HTMLParser):
    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []
    
    def append(self):
        return self.url_links
    
    def handle_starttag(self, tag, attrs):
        if tag == "a":
            for name, value in attrs:
                if name == "href":
                    ab = urljoin(self.url, value)
                    if ab[:4] == 'http':
                        self.url_links.append(ab)


def webdir(url, depth=2, indent=0):
    if depth < 0 or indent < 0:
        return
    print("  " * indent, url)
    objective = urlopen(url).read().decode()
    collection = Question7(url)
    collection.feed(objective)
    urls = collection.append() 
    for link in urls:
        webdir(link, depth-1, indent+4)


webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# -----------------------------------------------------------------------------------------

## Question 8

Write SQL queries on the below database table that return:

a) All the temperature data. 

b) All the cities, but without repetition. 

c) All the records for India. 

d) All the Fall records. 

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. 

g) The total annual rainfall for Cairo. 

h) The total rainfall for each season.

In [92]:
# Creating a table named 'que8' 

import sqlite3
con = sqlite3.connect('que8.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS givendata (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO givendata VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO givendata VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO givendata VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

cur.fetchall()

[]

In [93]:
# Question 8(a)
cur.execute('SELECT Temperature FROM givendata')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [95]:
# Question 8(b)
cur.execute('SELECT DISTINCT(City) FROM givendata')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [96]:
# Question 8(c)
cur.execute('SELECT * FROM givendata where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [97]:
# Question 8(d)
cur.execute('SELECT * FROM givendata where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [98]:
# Question 8(e)
cur.execute('SELECT City, Country, Season, AVG(Rainfall) FROM givendata GROUP BY City, Country, Season HAVING AVG(Rainfall) >= 200 and AVG(Rainfall) <= 400')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [99]:
# Question 8(f)
cur.execute('SELECT City, Country, AVG(Temperature) FROM givendata where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [100]:
# Question 8(g)
cur.execute('SELECT SUM(Rainfall) FROM givendata WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [101]:
# Question 8(h)
cur.execute('SELECT Season, SUM(Rainfall) FROM givendata GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# -----------------------------------------------------------------------------------------

## Question 9

Suppose list words is defined as follows: >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] Write list comprehension expressions that use list words and generate the following lists:

In [131]:
# a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([w.upper() for w in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [132]:
# b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print([w.lower() for w in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [133]:
# c)[3, 5, 5, 3, 5, 4, 3, 4, 3](the list of lengths of words in list words)

print([len(w) for w in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [134]:
# d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
# ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list
# for every word of list words, where each list contains the word in uppercase and lowercase and the length of 
# the word.

print([[w.upper(), w.lower(), len(w)] for w in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [125]:
# e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words
# containing 4 or more characters.)

print([w for w in words if len(w) >= 4])

['quick', 'brown', 'jumps', 'over', 'lazy']